.aside > .logo > a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}
.aside > .logo > a::after {
    border-right: 4px solid #ec1839;
    border-bottom: 4px solid #ec1839;
}
.about .about-text h3 span,
.about .about-text h3::after,
.aside > .nav > li > a.active,
.aside > .nav > li > a:hover,
.contact .contact-info-item .icon .fa,
.intro2 > p::after,
.intro > p::after,
.lightbox .lightbox-controls .next-item .fa,
.lightbox .lightbox-controls .prev-item .fa,
.portfolio .portfolio-filter button.active,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio-item-container > div > a > i,
.service .service-item-inner .icon .fa,
::selection,
body.dark .aside .nav li a.active,
.form>h3,
body.dark .aside > .nav > li > a:hover,
body.dark .portfolio .portfolio-filter button.active {
    color: #ec1839;
}
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.aside > .nav-toggler > span,
.aside > .nav-toggler > span::after,
.aside > .nav-toggler > span::before,
.btn,
.section-title > h2::after,
.form button,
.section-title > h2::before,
.service .service-item-inner:hover .icon,
.social-link > a {
    background-color: #ec1839;
}
.aside > .nav-toggler,
.portfolio .portfolio-filter button.active {
    border-color: #ec1839;
}
