
body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400
}

input,
select,
textarea {
    font-family: 'Josefin Sans', sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0
}

::after,
::before {
    box-sizing: border-box
}

.section {
    min-height: 100vh;
    background-image: url(../img/bg3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .3s ease
}

.section.active {
    z-index: 2;
    animation: slideSection 1s ease
}

.section.back-section {
    z-index: 1
}


.section .container {
    padding-top: 60px;
    padding-bottom: 70px
}

.section.open {
    left: 270px
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px
}

.section-title {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 60px
}

.section-title>h2 {
    font-size: 40px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative
}

.section-title>h2::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    top: 100%;
    left: 0
}

.section-title>h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    top: 100%;
    left: 0;
    margin-top: 8px
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, .15)
}

.btn {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    transition: all .3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
    cursor: pointer
}


.aside {
    width: 270px;
    height: 100%;
    background-color: #fdf9ff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #e8dfec;
    padding: 30px;
    transition: all .3s ease
}

.aside>.logo {
    padding: 30px 0
}

.aside>.logo>a {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    line-height: 50px
}

.aside>.logo>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transition: all .3s linear
}

.aside .logo:hover a::before {
    left: 87%;
    transform: rotate(90deg)
}

.aside>.logo>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transition: all .3s linear
}

.aside .logo:hover a::after {
    right: 87%;
    transform: rotate(90deg)
}

.aside>.nav-toggler {
    width: 40px;
    height: 40px;
    background-color: #fdf9ff;
    border: 1px solid red;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all .3s ease
}

.aside>.nav-toggler>span {
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
    transition: all .3s
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0
}

.aside>.nav-toggler>span::before {
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
    transition: all .4s
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .4s
}

.aside>.nav-toggler>span::after {
    content: "";
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0
}

.aside>.nav {
    margin: 30px 0;
    padding: 0
}

.aside>.nav>li {
    display: block
}

.aside>.nav>li>a {
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    transition: all .3s ease;
    text-transform: capitalize
}

.aside>.nav>li>a:not(.active):hover {
    padding-left: 5px
}

.aside>.nav>li>a>.fa {
    margin-right: 5px
}

.copyright-text {
    font-size: 13px;
    color: #7d7d7d;
    text-align: center
}

.home {
    min-height: 100vh;
    display: flex;
    z-index: 1
}

.home>.container>.intro {
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .301);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18)
}

.home>.container>.intro>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #fff;
    object-fit: cover;
    object-position: center
}

.home-text{
    color: #100b4e;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.intro>h1 {
    font-size: 35px;
    color: #100b4e;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0 5px
}

.intro>p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #060166
}

.intro>p::after {
    content: '';
    color: #c00;
    animation: write 15s linear infinite
}

@keyframes write {
    1% {
        content: "W"
    }
    2% {
        content: "We"
    }
    3% {
        content: "Web"
    }
    4% {
        content: "Web "
    }
    5% {
        content: "Web D"
    }
    6% {
        content: "Web De"
    }
    7% {
        content: "Web Dev"
    }
    8% {
        content: "Web Deve"
    }
    9% {
        content: "Web Devel"
    }
    10% {
        content: "Web Develo"
    }
    11% {
        content: "Web Develop"
    }
    12% {
        content: "Web Develope"
    }
    13% {
        content: "Web Developer"
    }
    14% {
        content: "Web Developer."
    }
    15% {
        content: "Web Developer."
    }
    16% {
        content: "Web Developer."
    }
    17% {
        content: "Web Developer."
    }
    18% {
        content: "Web Developer."
    }
    19% {
        content: "Web Developer."
    }
    20% {
        content: "Web Developer."
    }
    21% {
        content: "Web Developer."
    }
    22% {
        content: "Web Developer."
    }
    23% {
        content: "Web Developer."
    }
    24% {
        content: "Web Developer."
    }
    25% {
        content: "Web Developer."
    }
    25.5% {
        content: "Web Develope"
    }
    26% {
        content: "Web Develop"
    }
    26.5% {
        content: "Web Develo"
    }
    27% {
        content: "Web Devel"
    }
    27.5% {
        content: "Web Deve"
    }
    28% {
        content: "Web Dev"
    }
    28.5% {
        content: "Web De"
    }
    29% {
        content: "Web D"
    }
    29.5% {
        content: "Web "
    }
    30% {
        content: "We"
    }
    30.5% {
        content: "W"
    }
    31% {
        content: ""
    }
    32% {
        content: ""
    }
    33% {
        content: ""
    }
    34% {
        content: ""
    }
    35% {
        content: "F"
    }
    36% {
        content: "Fre"
    }
    37% {
        content: "Free"
    }
    38% {
        content: "Freel"
    }
    39% {
        content: "Freela"
    }
    40% {
        content: "Freelan"
    }
    41% {
        content: "Freelanc"
    }
    42% {
        content: "Freelance"
    }
    43% {
        content: "Freelancer"
    }
    44% {
        content: "Freelancer."
    }
    45% {
        content: "Freelancer."
    }
    46% {
        content: "Freelancer."
    }
    47% {
        content: "Freelancer."
    }
    48% {
        content: "Freelancer."
    }
    49% {
        content: "Freelancer."
    }
    50% {
        content: "Freelancer."
    }
    51% {
        content: "Freelancer."
    }
    52% {
        content: "Freelancer."
    }
    53% {
        content: "Freelancer."
    }
    54% {
        content: "Freelancer."
    }
    55% {
        content: "Freelancer."
    }
    55.5% {
        content: "Freelancer"
    }
    56% {
        content: "Freelance"
    }
    56.5% {
        content: "Freelanc"
    }
    57% {
        content: "Freelan"
    }
    57.5% {
        content: "Freelan"
    }
    58% {
        content: "Freela"
    }
    58.5% {
        content: "Freel"
    }
    59% {
        content: "Free"
    }
    59.5% {
        content: "Fre"
    }
    60% {
        content: "Fr"
    }
    60.5% {
        content: "F"
    }
    61% {
        content: "F"
    }
    61.5% {
        content: ""
    }
    62% {
        content: ""
    }
    63% {
        content: ""
    }
    64% {
        content: ""
    }
    65% {
        content: ""
    }
    66% {
        content: "M"
    }
    67% {
        content: "Me"
    }
    68% {
        content: "Mer"
    }
    69% {
        content: "Mern "
    }
    70% {
        content: "Mern D"
    }
    71% {
        content: "Mern De"
    }
    72% {
        content: "Mern Dev"
    }
    73% {
        content: "Mern Deve"
    }
    74% {
        content: "Mern Devel"
    }
    75% {
        content: "Mern Develo"
    }
    80% {
        content: "Mern Develop"
    }
    81% {
        content: "Mern Develope"
    }
    82% {
        content: "Mern Developer"
    }
    83% {
        content: "Mern Developer."
    }
    84% {
        content: "Mern Developer."
    }
    85% {
        content: "Mern Developer."
    }
    86% {
        content: "Mern Developer."
    }
    87% {
        content: "Mern Developer."
    }
    88% {
        content: "Mern Developer."
    }
    90% {
        content: "Mern Developer."
    }
    91% {
        content: "Mern Developer."
    }
    92% {
        content: "Mern Developer."
    }
    93% {
        content: "Mern Developer."
    }
    94% {
        content: "Mern Developer."
    }
    95% {
        content: "Mern Developer."
    }
    95.5% {
        content: "Mern Develope"
    }
    96% {
        content: "Mern Develop"
    }
    96.5% {
        content: "Mern Develo"
    }
    97% {
        content: "Mern Devel"
    }
    97.5% {
        content: "Mern Deve"
    }
    98% {
        content: "Mern Dev"
    }
    98.5% {
        content: "Mern De"
    }
    99% {
        content: "Mern D"
    }
    99.5% {
        content: "Mern "
    }
    100% {
        content: "Mer"
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
}

.home>.container>.intro2 {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .301);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18)
}

.home>.container>.intro2>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #fff;
    object-fit: cover;
    object-position: center
}

.intro2>h1 {
    font-size: 35px;
    color: #100c49;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0 5px
}

.intro2>p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: #060166
}

.intro2>p::after {
    content: '';
    color: #c00;
    animation: write2 15s linear infinite
}

@keyframes write2 {
    1% {
        content: "C"
    }
    2% {
        content: "Cr"
    }
    3% {
        content: "Cre"
    }
    4% {
        content: "Crea "
    }
    5% {
        content: "Creat D"
    }
    6% {
        content: "Creati De"
    }
    7% {
        content: "Creativ Des"
    }
    8% {
        content: "Creative Desi"
    }
    9% {
        content: "Creative Desig"
    }
    10% {
        content: "Creative Design"
    }
    11% {
        content: "Creative Designe"
    }
    12% {
        content: "Creative Designer"
    }
    16% {
        content: "Creative Designer."
    }
    17% {
        content: "Creative Designer."
    }
    18% {
        content: "Creative Designer."
    }
    19% {
        content: "Creative Designer."
    }
    20% {
        content: "Creative Designer."
    }
    21% {
        content: "Creative Designer."
    }
    22% {
        content: "Creative Designer."
    }
    23% {
        content: "Creative Designe"
    }
    24% {
        content: "Creative Design"
    }
    25% {
        content: "Creative Desig"
    }
    25.5% {
        content: "Creative Desi"
    }
    26% {
        content: "Creative Des"
    }
    26.5% {
        content: "Creative De"
    }
    27% {
        content: "Creative D"
    }
    27.5% {
        content: "Creative"
    }
    28% {
        content: "Creativ"
    }
    28.5% {
        content: "Creati"
    }
    29% {
        content: "Creat "
    }
    29.5% {
        content: "Crea "
    }
    30% {
        content: "Cre"
    }
    30.5% {
        content: "Cr"
    }
    31% {
        content: "C"
    }
    32% {
        content: ""
    }
    33% {
        content: ""
    }
    34% {
        content: ""
    }
    35% {
        content: "F"
    }
    36% {
        content: "Fre"
    }
    37% {
        content: "Free"
    }
    38% {
        content: "Freel"
    }
    39% {
        content: "Freela"
    }
    40% {
        content: "Freelan"
    }
    41% {
        content: "Freelanc"
    }
    42% {
        content: "Freelance"
    }
    43% {
        content: "Freelancer"
    }
    44% {
        content: "Freelancer."
    }
    45% {
        content: "Freelancer."
    }
    46% {
        content: "Freelancer."
    }
    47% {
        content: "Freelancer."
    }
    48% {
        content: "Freelancer."
    }
    49% {
        content: "Freelancer."
    }
    50% {
        content: "Freelancer."
    }
    51% {
        content: "Freelancer."
    }
    52% {
        content: "Freelancer."
    }
    53% {
        content: "Freelancer."
    }
    54% {
        content: "Freelancer."
    }
    55% {
        content: "Freelancer."
    }
    55.5% {
        content: "Freelancer"
    }
    56% {
        content: "Freelance"
    }
    56.5% {
        content: "Freelanc"
    }
    57% {
        content: "Freelan"
    }
    57.5% {
        content: "Freelan"
    }
    58% {
        content: "Freela"
    }
    58.5% {
        content: "Freel"
    }
    59% {
        content: "Free"
    }
    59.5% {
        content: "Fre"
    }
    60% {
        content: "Fr"
    }
    60.5% {
        content: "F"
    }
    61% {
        content: "F"
    }
    61.5% {
        content: ""
    }
    62% {
        content: ""
    }
    63% {
        content: ""
    }
    64% {
        content: ""
    }
    65% {
        content: ""
    }
    66% {
        content: "U"
    }
    67% {
        content: "UI"
    }
    68% {
        content: "UI/"
    }
    69% {
        content: "UI/U "
    }
    70% {
        content: "UI/UX "
    }
    71% {
        content: "UI/UX D"
    }
    72% {
        content: "UI/UX De"
    }
    73% {
        content: "UI/UX Des"
    }
    74% {
        content: "UI/UX Desi"
    }
    75% {
        content: "UI/UX Desig"
    }
    80% {
        content: "UI/UX Design"
    }
    81% {
        content: "UI/UX Designe"
    }
    82% {
        content: "UI/UX Designer"
    }
    83% {
        content: "UI/UX Designer."
    }
    84% {
        content: "UI/UX Designer."
    }
    85% {
        content: "UI/UX Designer."
    }
    86% {
        content: "UI/UX Designer."
    }
    87% {
        content: "UI/UX Designer."
    }
    88% {
        content: "UI/UX Designer."
    }
    90% {
        content: "UI/UX Designer."
    }
    91% {
        content: "UI/UX Designer."
    }
    92% {
        content: "UI/UX Designer."
    }
    93% {
        content: "UI/UX Designer."
    }
    94% {
        content: "UI/UX Designer."
    }
    95% {
        content: "UI/UX Designer."
    }
    95.5% {
        content: "UI/UX Designer"
    }
    96% {
        content: "UI/UX Designe"
    }
    96.5% {
        content: "UI/UX Design"
    }
    97% {
        content: "UI/UX Desig"
    }
    97.5% {
        content: "UI/UX Desi"
    }
    98% {
        content: "UI/UX Des"
    }
    98.5% {
        content: "UI/UX De"
    }
    99% {
        content: "UI/UX D"
    }
    99.5% {
        content: "UI/UX "
    }
    100% {
        content: "Mer"
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
    100% {
        content: ""
    }
}

.social-link {
    margin-top: 25px
}

.social-link>a {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #fff;
    margin: 0 4px;
    border-radius: 50%;
    overflow: hidden;
    background-color: none !important
}

#social_icons {
    font-size: 10px !important
}

.social-link>a:hover i {
    animation: iconMove .28s linear
}

@keyframes iconMove {
    33% {
        transform: translateX(200%);
        opacity: 0
    }
    60% {
        opacity: 0;
        transform: translateX(-200%)
    }
    100% {
        transform: translateX(0)
    }
}

.social-link>a:hover {
    transform: scale(1.1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    outline: 0
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee
}

.form {
    margin-top: 5px;
    width: 100%;
    min-height: 50px;
    padding: 15px 0;
    background: #fdf9ff;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2)
}

.form>h3 {
    padding-bottom: 15px;
    padding-left: 10%;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif !important;
}

.form .input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    display: block
}

.form .input input {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: 0 0
}

.form .input label {
    position: absolute;
    content: '';
    left: 0;
    bottom: 8px;
    transition: .4s;
    color: #adadad
}

.form .input .under {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #eee;
    position: relative
}

.input .under:before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    background: #39f;
    transform: scale(0);
    transition: .4s;
    border-radius: 2px;
    overflow: hidden
}

.input input:focus~label,
.input input:valid~label {
    transform: translateY(-23px);
    color: #39f;
    font-weight: 500
}

.input input:focus~.under:before,
.input input:valid~.under:before {
    transform: scale(1)
}

.form button {
    width: 70%;
    height: 35px;
    margin: 0 10%;
    background: #39f;
    outline: 0;
    border: none;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 5px;
    font-family: 'Josefin Sans', sans-serif
}

.form button:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: .5s
}

.whatsapp_icon {
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 100
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%
}

.about .about-text {
    flex: 0 0 100%;
    max-width: 100%
}

.about .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #fff
}

.about .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #fff
}

.about .about-text h3::after {
    content: '';
    color: #fff;
    animation: write 14s linear infinite
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%
}

.about .about-content .personal-info .info-item p {
    font-weight: 200;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #e8dfec;
    margin: 0
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #fff;
    margin-left: 4px
}

.about .about-content .personal-info .buttons {
    margin-top: 30px
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%
}

.about .about-content .skills .skill-item h5 {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: capitalize
}

.about .about-content .skills .skill-item {
    margin-bottom: 30px
}

.about .about-content .skills .skill-item .progress {
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.about .about-content .skills .skill-item .skill-percent {
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #fff
}

.about .about-content .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px
}

.about .about-content .experiance {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px
}

.about .about-content h3.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%
}

.about .about-content .timeline {
    background: rgba(255, 255, 255, .301);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    padding: 30px 15px;
    border-radius: 10px;
    width: 100%;
    position: relative
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0
}

.about .about-content .timeline .timeline-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 7px;
    top: 0
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 12px;
    color: #100b4e
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #fff
}

.about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: #100b4e;
    margin: 0
}

.service .container {
    padding-bottom: 40px
}

.service .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex
}

.service .service-item-inner {
    background: rgba(255, 255, 255, .301);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all .3s ease
}

.service .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, .15)
}

.service .service-item-inner .icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease
}

.service .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #fff
}

.service .service-item-inner .icon .fa {
    line-height: 60px;
    font-size: 40px;
    transition: all .3s ease
}

.service .service-item-inner h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize
}

.service .service-item-inner p {
    font-size: 16px;
    color: #100b4e;
    line-height: 25px
}

.portfolio .container {
    padding-bottom: 40px
}

.portfolio .portfolio-filter {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px
}

.portfolio .portfolio-filter button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding-bottom: 2px;
    transition: all .3s ease
}

.portfolio-item-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.portfolio-item-container>div {
    width: 31%;
    height: 50vh;
    border: 6px solid #fdf9ff;
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(48, 46, 77, .15);
    border-radius: 10px;
    position: relative
}

.portfolio-item-container>div>a>i {
    font-size: 35px;
    color: #ec1839;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4
}

.portfolio-item-container>div>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative
}

.portfolio-item-container>div>div:hover img:not(.halfImg) {
    transform: translateY(-75%);
    transition: all 7s
}

.portfolio-item-container>div>div>img {
    width: 100%;
    transition: all 3s
}

.portfolio-item-container>div>div>img.halfImg {
    width: 100%;
    height: 50vh;
    object-position: center;
    object-fit: cover
}

.portfolio .portfolio-item.hide {
    display: none
}

.portfolio .portfolio-item.show {
    display: block;
    animation: showItem .5s ease
}

@keyframes showItem {
    0% {
        transform: scale(.8);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

.contact .contact-info-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 40px
}

.contact .contact-info-item .icon {
    display: inline-block
}

.contact .contact-info-item .icon .fa {
    font-size: 40px
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin: 15px 0 5px
}

.contact .contact-info-item a {
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    font-weight: 400
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    font-weight: 400
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.contact .contact-form .form-item {
    margin-bottom: 30px
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, .18);
    padding: 10px 25px;
    font-size: 16px;
    color: #100b4e;
    transition: all .3s ease;
    background-color: rgba(255, 255, 255, .301);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px)
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, .15)
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px
}

::placeholder {
    color: #cfcfcf;
    opacity: 1
}

body.dark .aside {
    background-color: #151515
}

body.dark .about .about-content .timeline,
body.dark .contact .contact-form .form-item .form-control,
body.dark .home>.container>.intro,
body.dark .home>.container>.intro2,
body.dark .service .service-item .service-item-inner {
    background: rgba(0, 0, 0, .171)
}

body.dark .about .about-content .about-text h3,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-content .skills .skill-item h5,
body.dark .about .about-content .timeline .timeline-title,
body.dark .about .about-content h3.title,
body.dark .aside .logo a,
body.dark .aside .nav li a,
body.dark .contact .contact-info-item h4,
body.dark .home .intro h1,
body.dark .home .intro2 h1,
body.dark .home-text,
body.dark .portfolio .portfolio-filter button,
body.dark .section-title h2,
body.dark .service .service-item .service-item-inner h4 {
    color: #fff
}

body.dark .about .about-content .about-text p,
body.dark .about .about-content .personal-info .info-item p span,
body.dark .about .about-content .skills .skill-item .skill-percent,
body.dark .about .about-content .timeline .timeline-date,
body.dark .about .about-content .timeline .timeline-text,
body.dark .contact .contact-form .form-item .form-control,
body.dark .contact .contact-info-item a,
body.dark .contact .contact-info-item p,
body.dark .home .intro p,
body.dark .home .intro2 p,
body.dark .service .service-item .service-item-inner p {
    color: #e9e9e9
}

body.dark .shadow-dark {
    box-shadow: none
}

@media (max-width:1100px) {
    .section .container {
        padding-top: 70px
    }
    .aside .nav-toggler {
        display: flex;
        top: 1;
        left: 20px
    }
    .aside .nav-toggler.open {
        left: 275px
    }
    .aside {
        left: -270px
    }
    .aside.open {
        left: 0
    }
    .section {
        left: 0
    }
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0
    }
}

@media (max-width:990px) {
    .portfolio .portfolio-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (max-width:600px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (max-width:767px) {
    .about .about-content .education,
    .about .about-content .experiance,
    .about .about-content .personal-info,
    .about .about-content .skills,
    .contact .contact-form .col-6,
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%
    }
    .portfolio .portfolio-filter button {
        margin-bottom: 10px
    }
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: .3s
}

#myImg:hover {
    opacity: .7
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9)
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

#caption,
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    transition: .3s
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer
}

@media only screen and (max-width:700px) {
    .modal-content {
        width: 100%
    }
}